<% if user_signed_in? %>
<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>

<%= form_with model: Tweet.new, url: tweets_path, local: true do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>

<ul>
  <% Tweet.find_each do |tweet| %>
    <%= tweet.body %>
  <% end %>
</ul>

<% else %>
  <h1>Hello World</h1>
  <%= link_to "Signup", new_user_registration_path, class: "primary-button" %>
  <%= link_to "Login", new_user_session_path, class: "login-button" %>
<% end %>