<main class="login-page">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <section class="login-form">
      <div class="login-top-x">
        <p>X</p>
        <i class="fa-brands fa-x-twitter"></i>
      </div>

      <div class="login-content">
        <h2 class="login-header">Sign in to X</h2>

        <div class="login-google">
          <p class="google-text">Sign in with Google</p>
        </div>

        <div class="login-apple">
          <p class="apple-text">Sign in with Apple</p>
        </div>

        <div class="or-section">
          <div class="break-line"></div>
          <p class="or-text">or</p>
          <div class="break-line"></div>
        </div>

        <div class="field">
          <%= f.label :email, class: "label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", autofocus: true, placeholder: "Email address", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "primary-button" %>
        </div>
      <div>

      <%= render "devise/shared/forgot_password_link" %>
      <div class="no-account">
        <p>Do you have an account?</p>
        <%= render "devise/shared/sign_up_link" %>
      </div>
    </section>
  <% end %>
</main>
